body {
    background: url("../vendor/img/wallpaper.jpg") no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding-top: 56px;
}

#start-purchase-btn {
    background-color: #45913b;
    border-color: #234e25;
    color: rgb(220, 231, 216);
}

#start-purchase-link {
    text-decoration: none;
    color: rgb(220, 231, 216);
}

p { color: rgb(220, 231, 216); font-size: 20pt;}

h1 { color: rgb(220, 231, 216); font-size: 40pt;}

